<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="greenbook.portfolio.dao.BookMapper">

    <select id="selectChoice" resultType="BookDto">
        select book.*
        from registration
        join book on re_bk_isbn = bk_isbn and re_choice = 'Y'
    </select>

    <select id="selectToday" resultType="BookDto">
        select *, re_contents as bk_contents
        from book
        join registration on bk_isbn = re_bk_isbn
        where re_choice = 'N'
        order by rand() limit 1
    </select>

    <select id="selectBestSeller" resultType="BookDto">
        select *
        from registration
        join book on re_bk_isbn = bk_isbn
        order by re_sales desc limit 0,10
    </select>

    <select id="selectRegistration" resultType="BookDto">
        select book.*, registration.re_price as bk_price from registration join book on re_bk_isbn = bk_isbn where re_catagory = #{re_catagory}
        <if test="cri.country == '국내/해외'">
            and (bk_country = "국내" or bk_country = "해외")
        </if>
        <if test="cri.country == '외국'">
            and bk_country = "외국"
        </if>
        <if test="cri.sort == 'basic'">
            order by re_title asc
        </if>
        <if test="cri.sort == 'popular'">
            order by re_sales desc
        </if>
        <if test="cri.sort == 'highPrice'">
            order by re_price desc
        </if>
        <if test="cri.sort == 'lowPrice'">
            order by re_price asc
        </if>
        limit #{cri.pageStart}, #{cri.perPageNum}
    </select>
    <select id="selectTotalCatagory" resultType="int">
        select count(*) from registration join book on re_bk_isbn = bk_isbn
        join books on bs_bk_isbn = bk_isbn where re_catagory = #{re_catagory}
    </select>

    <select id="getBook" resultType="BookDto">
        select * from book where bk_isbn = #{re_bk_isbn}
    </select>

    <select id="selectRegi" resultType="RegistrationDto">
        select * from registration where re_bk_isbn = #{re_bk_isbn}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from book
    </select>

    <select id="getBookList" resultType="BookDto">
        select * from book
        <if test="type==0">
            where (bk_isbn like concat('%',#{search},'%')
            or bk_title like concat('%',#{search},'%')
            or bk_subtitle like concat('%',#{search},'%')
            or bk_au_writer like concat('%',#{search},'%')
            or bk_country like concat('%',#{search},'%')
            or bk_publish like concat('%',#{search},'%'))
        </if>
        <if test="type==1">
            where (bk_title like concat('%',#{search},'%')
            or bk_subtitle like concat('%',#{search},'%'))
        </if>
        <if test="type==2">
            where bk_au_writer like concat('%',#{search},'%')
        </if>
        limit #{pageStart}, #{perPageNum}
    </select>

    <insert id="getBookInfo" parameterType="BookDto">
        INSERT INTO book (
        bk_isbn,
        bk_title,
        bk_subtitle,
        bk_au_writer,
        bk_publish,
        bk_page,
        bk_publish_date,
        bk_mainImg,
        bk_pu_num,
        bk_country
        )
        VALUES (
        #{bk_isbn},
        #{bk_title},
        #{bk_subtitle},
        #{bk_au_writer},
        #{bk_publish},
        #{bk_page},
        #{bk_publish_date},
        #{bk_mainImg},
        #{bk_pu_num},
        #{bk_country}
        )
    </insert>

    <update id="updateBook">
        update book set
        bk_isbn = #{bk_isbn},
        bk_title = #{bk_title},
        bk_subtitle= #{bk_subtitle},
        bk_au_writer= #{bk_au_writer},
        bk_publish = #{bk_publish},
        bk_mainImg = #{bk_mainImg},
        bk_page = #{bk_page},
        bk_publish_date = #{bk_publish_date},
        bk_pu_num = #{bk_pu_num},
        bk_country = #{bk_country}
        where bk_isbn = #{bk_isbn}
    </update>

</mapper>