<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="greenbook.portfolio.dao.CartMapper">
    <insert id="addCart" parameterType="CartDto">
        insert into cart (ca_amount,ca_re_code, ca_me_id)
        values (#{ca_amount},#{ca_re_code}, #{ca_me_id})
    </insert>

    <select id="getCartList" resultType="CartDto">
        select cart.*, bk_mainImg as ca_mainImg, re_title as ca_title, bk_subtitle as ca_subTitle, re_price as ca_price, re_amount as ca_re_amount from cart
        join registration on ca_re_code = re_code
        join book on bk_isbn = re_bk_isbn where ca_me_id = #{id} and ca_valid = 'I';
    </select>

    <select id="selectCartRegister" resultType="CartDto" >
        select * from book join registration on bk_isbn = re_bk_isbn
        join cart on re_code = ca_re_code where (bk_isbn=#{bkIsbn} and ca_valid="I" and ca_me_id = #{id})
    </select>

    <update id="updateCartRegister">
        update cart set
        ca_amount = #{amount}
        where ca_num = #{caNum}
    </update>

    <insert id="getCartRegister">
        insert into cart (ca_amount,ca_re_code, ca_me_id)
        select #{amount}, re_code, #{id} from registration where re_bk_isbn = #{bkIsbn}
    </insert>

    <select id="getPaymentList" resultType="CartDto">
        select
        cart.*,
        bk_mainImg as ca_mainImg,
        re_title as ca_title,
        bk_subtitle as ca_subTitle,
        re_price as ca_price,
        bk_isbn as ca_isbn
        from cart
        join registration
        on ca_re_code = re_code
        join book
        on bk_isbn = re_bk_isbn
        where ca_me_id = #{id}
        and ca_valid = 'I'
        and ca_num in
        <foreach collection="caNum"
                 item="num"
                 open="("
                 separator=","
                 close=")">
            #{num}
        </foreach>
    </select>

    <select id="getPaymentListDirect" resultType="CartDto">
        select re_title as ca_title, #{amount} as ca_amount, bk_mainImg as ca_mainImg, re_price as ca_price , bk_subtitle as ca_subTitle, bk_isbn as ca_isbn
        from registration join book on bk_isbn = re_bk_isbn where re_bk_isbn=#{isbn}
    </select>

    <select id="getTotalCountOrders" resultType="int">
        select count(*) from `order`
    </select>

    <select id="adminOrderList" resultType="OrderDto">

        select
        o.*,
        r.re_title as or_title,
        t.or_count as or_re_title,
        p.pa_methods as or_methods,
        p.pa_approved as or_approved,
        t.pr_use_point as or_use_point,
        p.pa_num as or_pa_num,
        p.imp_uid as or_imp_uid

        from `order` o

        left join (
        select
        pr_or_num,
        min(pr_bk_isbn) as pr_bk_isbn,
        max(pr_use_point) as pr_use_point,
        count(*) as or_count
        from particulars
        group by pr_or_num
        ) t
        on o.or_num = t.pr_or_num

        join registration r
        on t.pr_bk_isbn = r.re_bk_isbn

        join payment p
        on p.pa_or_num = o.or_num

        where
        o.or_state = '결제완료'
        or o.or_state = '배송중'
        or o.or_state = '배송완료'
        or o.or_state = '구매확정'
        or o.or_state = '결제취소'

        limit #{pageStart}, #{perPageNum}

    </select>

    <select id="getParticularsList" resultType="ParticularsDto">
        select * , re_title as pr_title, re_price as pr_price from particulars join registration on pr_bk_isbn = re_bk_isbn
        where pr_or_num = #{orNum}
    </select>

    <update id="updateCart">
        update cart set
        ca_amount = #{ca_amount}
        where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code}
    </update>

    <insert id="insertShipping" parameterType="ShippingDto">
        insert into shipping (sh_name, sh_doro, sh_jibun, sh_phone)
        values (#{shipping.sh_name}, #{shipping.sh_doro}, #{shipping.sh_jibun}, #{shipping.sh_phone})
    </insert>

    <insert id="insertPayFinished" >
        insert into `order` (or_num, or_me_id, or_receiver, or_payment, or_deliver, or_green_point, or_deli_date, or_sh_num, or_pay_card)
        values (#{or_num}, #{or_me_id}, #{or_receiver}, #{or_payment}, #{or_deliver}, #{or_green_point}, #{or_deli_date}, #{or_sh_num}, #{or_pay_card})
    </insert>

    <update id="updateOrderState">
        update `order` set
        or_state = "결제완료"
        where or_num = #{orNum}
    </update>

    <insert id="insertPaymentInic">
        insert into payment (pa_num, pa_methods, pa_name, pa_or_num, pa_approved, imp_uid)
        values(#{apply_num}, #{pay_method}, #{me_name}, #{or_num}, #{formattedDate}, #{imp_uid})
    </insert>

</mapper>