<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="greenbook.portfolio.dao.MemberMapper">
    <select id="getMember" parameterType="String" resultType="MemberDto">
        select *
        from member
        where me_id = #{id}
    </select>

    <update id="updateLogin" parameterType="MemberDto">
        update member
        set me_session_id    = #{me_session_id},
            me_session_limit = #{me_session_limit}
        where me_id = #{me_id}
    </update>

    <select id="getEmail" parameterType="String" resultType="MemberDto">
        select *
        from member
        where me_email = #{email}
    </select>

    <select id="getAuthorList" resultType="AuthorDto">
        select * from author join books on au_num = bs_au_num
        where bs_bk_isbn = #{re_bk_isbn} and bs_part = '저자'
    </select>

    <select id="getTotalCountGreenPoint" resultType="int">
        select count(*) from `point` where (po_point != 0 and po_me_id = #{id})
    </select>

    <select id="getPointList" resultType="PointDto">
        select * from `point` where (po_me_id  = #{id} and po_point != 0)
        limit #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <update id="updateMember">
        update member set
        me_password = #{me_password},
        me_gender = #{me_gender},
        me_email = #{me_email},
        me_address = #{me_address},
        me_jAddress = #{me_jAddress},
        me_nickname = #{me_nickname},
        me_birth = #{me_birth},
        me_phone = #{me_phone}
        where me_id = #{me_id}
    </update>

    <select id="getMemberId" resultType="MemberDto">
        select * from member where me_id = #{id}
    </select>

    <select id="getTotalCountPublish"
            resultType="int">

        select count(*)
        from publisher

    </select>

    <select id="getPublisherList"
            resultType="PublisherDto">

        select *
        from publisher

        <if test="search != null and search != ''">

            <if test="type == 0">
                where (
                pu_num like concat('%', #{search}, '%')
                or pu_name like concat('%', #{search}, '%')
                or pu_phone like concat('%', #{search}, '%')
                or pu_ceo like concat('%', #{search}, '%')
                )
            </if>

            <if test="type == 1">
                where pu_name like concat('%', #{search}, '%')
            </if>

        </if>

        limit #{pageStart}, #{perPageNum}

    </select>

    <insert id="pubRegister">
        insert into publisher(pu_name, pu_phone, pu_ceo)
        values(#{pu_name}, #{pu_phone}, #{pu_ceo})
    </insert>

    <select id="getTotalCountAuthor" resultType="int">
        select count(*) from author
    </select>

    <select id="authorList" resultType = "AuthorDto">
        select * from author
        <if test="type==0">
            where (au_num like concat('%',#{search},'%')
            or au_writer like concat('%',#{search},'%')
            or au_title like concat('%',#{search},'%')
            or au_contents like concat('%',#{search},'%')
            or au_birth like concat('%',#{search},'%'))
        </if>
        <if test="type==1">
            where (au_title like concat('%',#{search},'%')
            or au_contents like concat('%',#{search},'%'))
        </if>
        <if test="type==2">
            where au_writer like concat('%',#search},'%')
        </if>
        limit #{pageStart}, #{perPageNum}
    </select>

    <select id="getAuthor" resultType="AuthorDto">
        select * from author where au_num = #{au_num}
    </select>

    <insert id="authRegister">
        insert into author (au_num, au_writer, au_title, au_contents, au_birth)
        values(#{au_num}, #{au_writer}, #{au_title}, #{au_contents}, #{au_birth})
    </insert>

    <update id="updateAuth">
        update author set
        au_num = #{au_num},
        au_writer = #{au_writer},
        au_title = #{au_title},
        au_contents = #{au_contents},
        au_birth = #{au_birth}
        where au_num = #{au_num}
    </update>

</mapper>